<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sf.sveditor.svt.app.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="net.sf.sveditor.svt.app.ui.Perspective"
            id="net.sf.sveditor.svt.app.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="svt"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.sveditor.svt.app.core.svt"
            name="SVT">
         <property
               name="appName"
               value="SVT">
         </property>
      </product>
   </extension>

</plugin>
