<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.sveditor.vhdl.ui.editor.VHDLEditor"
            contributorClass="net.sf.sveditor.vhdl.ui.editor.VhdlActionContributor"
            default="false"
            icon="icons/vhd_16_16.png"
            id="net.sf.sveditor.vhdl.ui.VhdlEditor"
            name="VHDL Editor">
         <contentTypeBinding
               contentTypeId="net.sf.sveditor.vhdl.core.vhdl">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.sf.sveditor.vhdl.ui.editor.VHDLDocumentSetupParticipant"
            contentTypeId="net.sf.sveditor.vhdl.core.vhdl">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.sveditor.vhdl.ui.AddBlockComment"
            contextId="net.sf.sveditor.vhdl.ui.vhdlEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+/">
      </key>
      <key
            commandId="net.sf.sveditor.vhdl.ui.ToggleComment"
            contextId="net.sf.sveditor.vhdl.ui.vhdlEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+/">
      </key>
      <key
            commandId="net.sf.sveditor.vhdl.ui.RemoveBlockComment"
            contextId="net.sf.sveditor.vhdl.ui.vhdlEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+\">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.sf.sveditor.vhdl.ui.vhdlEditorContext"
            name="VHDLEditor Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.sf.sveditor.vhdl.ui.AddBlockComment"
            name="Add Block Comment">
      </command>
      <command
            id="net.sf.sveditor.vhdl.ui.ToggleComment"
            name="Toggle Comment">
      </command>
      <command
            id="net.sf.sveditor.vhdl.ui.RemoveBlockComment"
            name="Remove Block Comment">
      </command>
   </extension>
   
</plugin>
