#Maven
target/
#FIXME: review and rework entries below
*.html
*.class
sveditor/plugins/org.eclipse.hdt.sveditor.doc.dev/api_docs/resources/*.gif
sveditor/plugins/org.eclipse.hdt.sveditor.doc.user/help/*
docs/pdf/*
sveditor/plugins/org.eclipse.hdt.sveditor.ui/class/org.eclipse.hdt/sveditor/ui/*.properties
sveditor/plugins/org.eclipse.hdt.sveditor.ui/class/org.eclipse.hdt/sveditor/ui/text/hover/*.properties
.svproject
stylesheet.css
package-list
*-toc.xml
toc.xml
buildResult/
build/
packages/

