<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="SVLibraries" name="SystemVerilog Libraries" schema="schema/SVLibraries.exsd"/>
   <extension-point id="SVDBIndexFactories" name="SVDB Index Factory extension point" schema="schema/SVDBIndexFactories.exsd"/>
   <extension-point id="SVTemplates" name="SystemVerilog Templates" schema="schema/SVTemplates.exsd"/>
   <extension-point id="SVLogMessageScanners" name="Log Message Scanner" schema="schema/SVLogMessageScanners.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="v, vl, vlog, vh, vp, vs, v95, v95p"
            id="verilog"
            name="Verilog"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.sveditor.core.verilog"
            file-extensions="sv, svh, svp, svi"
            id="systemverilog"
            name="SystemVerilog"
            priority="normal">
         <property
               default="true"
               name="org.sveditor.core.svfile">
         </property>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="f, F, args, irunargs, flist"
            id="org.sveditor.core.argfile"
            name="SystemVerilog Argument File"
            priority="normal">
         <property
               default="true"
               name="org.sveditor.core.sv_argfile">
         </property>
      </content-type>
      <content-type
            base-type="org.sveditor.core.verilog"
            file-extensions="va, vams"
            id="verilogams"
            name="VerilogAMS"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="SVNature"
         name="SystemVerilog Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.sveditor.core.SVProjectNature">
         </run>
      </runtime>
      <builder
            id="org.sveditor.core.SVProjectBuilder">
      </builder>
   </extension>
   <extension
         point="org.sveditor.core.SVLibraries">
      <SVLibrary
            default="false"
            id="org.sveditor.sv_builtin"
            name="SystemVerilog Builtin Types"
            path="sv_builtin/sv_builtin.f">
         <description>
            Library of built-in types
         </description>
      </SVLibrary>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="plugin">
         <run
               class="org.sveditor.core.fs.plugin.PluginFilesystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.sveditor.core.SVDBIndexFactories">
      <SVDBIndexFactory
            class="org.sveditor.core.db.index.plugin.SVDBPluginLibIndexFactory"
            id="org.sveditor.pluginLibIndex">
      </SVDBIndexFactory>
      <SVDBIndexFactory
            class="org.sveditor.core.db.index.argfile.SVDBArgFileIndexFactory"
            id="org.sveditor.argFileIndex">
      </SVDBIndexFactory>
      <SVDBIndexFactory
            class="org.sveditor.core.db.index.old.SVDBShadowIndexFactory"
            id="org.sveditor.shadowIndex">
      </SVDBIndexFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IProject"
            class="org.sveditor.core.SVProjectDataAdapter">
         <adapter
               type="org.sveditor.core.db.project.SVDBProjectData">
         </adapter>
      </factory>
   </extension>
   <extension
         id="SVProjectBuilder"
         name="SVEditor Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="org.sveditor.core.builder.SVProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problem"
         name="SVE Index Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="flags">
      </attribute>
      <attribute
            name="arguments">
      </attribute>
      <attribute
            name="categoryId">
      </attribute>
   </extension>
   <extension
         id="task"
         name="SVEditor Task Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.taskmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.sveditor.core.buildScriptLaunchType"
            modes="run"
            name="SVEditor Build Script">
      </launchConfigurationType>
   </extension>
   <extension
         id="svScriptProblem"
         name="SVE Script Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="flags">
      </attribute>
      <attribute
            name="arguments">
      </attribute>
      <attribute
            name="categoryId">
      </attribute>
   </extension>
   <extension
         point="org.sveditor.core.SVLogMessageScanners">
      <LogMessageScanner
            class="org.sveditor.core.script.launch.QuestaLogMessageScanner"
            id="org.sveditor.core.questaLogMessageScanner"
            name="Questa Log Scanner"
            type="general">
      </LogMessageScanner>
      <LogMessageScanner
            class="org.sveditor.core.script.launch.VerilatorLogMessageScanner"
            id="org.sveditor.core.verilatorLogScanner"
            name="Verilator Log Scanner"
            type="build">
      </LogMessageScanner>
      <LogMessageScanner
            class="org.sveditor.core.script.launch.MakefileLogMessageScanner"
            id="org.sveditor.core.makeLogScanner"
            name="Make Log Scanner"
            type="build">
      </LogMessageScanner>
      <LogMessageScanner
            class="org.sveditor.core.script.launch.GccLogMessageScanner"
            id="org.sveditor.core.gccLogScanner"
            name="GCC Log Scanner"
            type="build">
      </LogMessageScanner>
      <LogMessageScanner
            class="org.sveditor.core.script.launch.NCSimLogMessageScanner"
            id="org.sveditor.core.ncsimLogScanner"
            name="NCSim Log Scanner"
            type="build">
      </LogMessageScanner>
   </extension>
   <extension
         id="svProblem"
         name="SVE Script SV Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.sveditor.core.svScriptProblem">
      </super>
   </extension>
   <extension
         id="gccProblem"
         name="SVE Script GCC Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.sveditor.core.svScriptProblem">
      </super>
   </extension>
   <extension
         id="org.sveditor.create_project"
         name="SVEditor Create Project"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.sveditor.core.applications.CreateProjectApp">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="svext">
         <run
               class="org.sveditor.core.fs.svext.SVExtFileSystem">
         </run>
      </filesystem>
   </extension>


</plugin>
