<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.sveditor.core.SVMethodologyTemplates">
      <methodologyCategory
            id="org.uvmworld.uvm"
            name="Universal Verification Methodology">
      </methodologyCategory>
   </extension>
   <extension
         point="net.sf.sveditor.core.SVMethodologyTemplates">
      <methodologyTemplate
            category="org.uvmworld.uvm"
            id="org.uvmworld.uvm.uvm_agent"
            name="UVM Agent">
         <description>
            description body text
         </description>
         <templateFiles>
            <templateFile
                  name="@name@_agent_pkg.sv"
                  template="templates/uvm_agent/uvm__agent_pkg.sv">
            </templateFile>
            <templateFile
                  name="@name@_config.svh"
                  template="templates/uvm_agent/uvm__config.svh">
            </templateFile>
            <templateFile
                  name="@name@_driver.svh"
                  template="templates/uvm_agent/uvm__driver.svh">
            </templateFile>
            <templateFile
                  name="@name@_monitor.svh"
                  template="templates/uvm_agent/uvm__monitor.svh">
            </templateFile>
            <templateFile
                  name="@name@_seq_base.svh"
                  template="templates/uvm_agent/uvm__seq_base.svh">
            </templateFile>
            <templateFile
                  name="@name@_seq_item.svh"
                  template="templates/uvm_agent/uvm__seq_item.svh">
            </templateFile>
            <templateFile
                  name="@name@_agent.svh"
                  template="templates/uvm_agent/uvm__agent.svh">
            </templateFile>
         </templateFiles>
      </methodologyTemplate>
   </extension>

</plugin>
