<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.sveditor.ui.editor.SVEditor"
            contributorClass="net.sf.sveditor.ui.editor.SVActionContributor"
            default="true"
            icon="icons/vlog_16_16.gif"
            id="net.sf.sveditor.ui.editor"
            name="SystemVerilog Editor">
         <contentTypeBinding
               contentTypeId="net.sf.sveditor.core.systemverilog">
         </contentTypeBinding>
      </editor>
      <editor
            class="net.sf.sveditor.ui.svt.editor.SVTEditor"
            default="false"
            extensions="svt"
            icon="icons/eview16/generate_template_class.gif"
            id="net.sf.sveditor.ui.svtEditor"
            name="SystemVerilog Template Editor">
      </editor>
      <editor
            class="net.sf.sveditor.ui.argfile.editor.SVArgFileEditor"
            contributorClass="net.sf.sveditor.ui.argfile.editor.SVArgFileActionContributor"
            default="true"
            icon="icons/eview16/configs.gif"
            id="net.sf.sveditor.ui.argfile.editor"
            name="SystemVerilog Argument File Editor">
         <contentTypeBinding
               contentTypeId="net.sf.sveditor.core.argfile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.sf.sveditor.ui.editor.SVDocumentSetupParticipant"
            contentTypeId="net.sf.sveditor.core.systemverilog">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.sf.sveditor.ui.argfile.editor.SVArgFileDocSetupParticipant"
            contentTypeId="net.sf.sveditor.core.argfile">
      </participant>
   </extension>
   <extension
         id="net.sf.sveditor.ui.SVNavigatorContent"
         name="SystemVerilog Navigator Content"
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="net.sf.sveditor.ui.explorer.SVFileNavigatorContentProvider"
            icon="icons/vlog_16_16.gif"
            id="net.sf.sveditor.ui.svFileNavigatorContent"
            labelProvider="net.sf.sveditor.ui.explorer.SVExplorerDecoratingLabelProvider"
            name="SystemVerilog File"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="svh">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="sv">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="v">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="vlog">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="vl">
                     </test>
                  </or>
               </and>
               <instanceof
                     value="net.sf.sveditor.core.db.SVDBItem">
               </instanceof>
            </or>
         </triggerPoints>
         <commonSorter
               class="net.sf.sveditor.ui.explorer.SVFileSorter">
         </commonSorter>
         <possibleChildren>
            <instanceof
                  value="net.sf.sveditor.core.db.SVDBItem">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
<!--
      <actionProvider
            class="net.sf.sveditor.ui.explorer.AddSystemVerilogNatureAction"
            id="net.sf.sveditor.ui.explorer.AddSystemVerilogNatureAction">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <not>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="net.sf.sveditor.core.SVNature">
                  </test>
               </not>
            </and>
         </enablement>
      </actionProvider>
 -->
      <actionProvider
            class="net.sf.sveditor.ui.explorer.OpenSVDBItem"
            id="net.sf.sveditor.ui.explorer.OpenSVDBItem">
         <enablement>
            <instanceof
                  value="net.sf.sveditor.core.db.SVDBItem">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="net.sf.sveditor.ui.explorer.RebuildSvIndexAction"
            id="net.sf.sveditor.ui.explorer.RebuildSvIndexAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <commonWizard
            menuGroupId="net.sf.sveditor.ui.newSVWizards"
            type="new"
            wizardId="net.sf.sveditor.ui.newSVClassWizard">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IContainer">
            </adapt></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="net.sf.sveditor.ui.newSVWizards"
            type="new"
            wizardId="net.sf.sveditor.ui.newSVInterfaceWizard">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IContainer">
            </adapt></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="net.sf.sveditor.ui.newSVWizards"
            type="new"
            wizardId="net.sf.sveditor.ui.newSVModuleWizard">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IContainer">
            </adapt></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="net.sf.sveditor.ui.newSVWizards"
            type="new"
            wizardId="net.sf.sveditor.ui.newSVPackageWizard">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IContainer">
            </adapt></enablement>
      </commonWizard>            
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.ui.navigator.resourceContent"
            contentProvider="net.sf.sveditor.ui.explorer.ProjectPathsContentProvider"
            icon="icons/edecl16/package.gif"
            id="net.sf.sveditor.ui.projectPathsContent"
            labelProvider="net.sf.sveditor.ui.explorer.ProjectPathsLabelProvider"
            name="Project Paths"
            priority="high"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <adapt
                     type="net.sf.sveditor.core.db.project.SVDBProjectData">
               </adapt>
               <instanceof
                     value="net.sf.sveditor.core.db.SVDBItem">
               </instanceof>
            </or>
         </triggerPoints>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="net.sf.sveditor.ui.svFileNavigatorContent">
         </override>
         <!--
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
          -->
      </navigatorContent>
      <commonWizard
            menuGroupId="net.sf.sveditor.ui.newSVWizards"
            type="new"
            wizardId="net.sf.sveditor.ui.svMethodologyClassWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         id="net.sf.sveditor.ui.SVNavigatorContentBinding"
         name="SystemVerilog Navigator Content Binding"
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="net.sf.sveditor.ui.svFileNavigatorContent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="net.sf.sveditor.ui.projectPathsContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="net.sf.sveditor.ui.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.sf.sveditor.ui.prop_pages.SVProjectProps"
            id="net.sf.sveditor.ui.SVPropPage"
            name="SystemVerilog Project Properties">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
            <!--
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="net.sf.sveditor.core.SVNature">
               </test>
            </adapt>
         </enabledWhen>
             -->
      </page>
      <page
            class="net.sf.sveditor.ui.prop_pages.SVFilePropertyPage"
            id="net.sf.sveditor.ui.SVEditorInfo"
            name="SVEditor Info">
         <enabledWhen>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IFile">
               </adapt>
	            <test
                  args="contentTypeId"
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.filePropertyTester"
                  value="net.sf.sveditor.core.systemverilog">
    	        </test>
            </and>
         </enabledWhen>
      </page>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open Declaration"
            id="net.sf.sveditor.ui.editor.open.declaration"
            name="Open Declaration">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Find References"
            id="net.sf.sveditor.ui.editor.find.references"
            name="Find References">
      </command>
      <command
            id="net.sf.sveditor.ui.override.tf.command"
            name="Override Tasks/Functions">
      </command>
      <command
            description="Indent Source"
            id="net.sf.sveditor.ui.indent"
            name="Indent">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="net.sf.sveditor.ui.editor.open.type.hierarchy"
            name="Open Type Hierarchy">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open the Objects view if not already visible"
            id="net.sf.sveditor.ui.editor.open.objects"
            name="Open Objects">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Opens the Quick Objects"
            id="net.sf.sveditor.ui.editor.open.quick.objects"
            name="Open Quick Objects">
      </command>
      <command
            id="net.sf.sveditor.ui.AddBlockComment"
            name="Add Block Comment">
      </command>
      <command
            id="net.sf.sveditor.ui.RemoveBlockComment"
            name="Remove Block Comment">
      </command>
      <command
            id="net.sf.sveditor.ui.ToggleComment"
            name="Toggle Comment">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open the Quick Outline"
            id="net.sf.sveditor.ui.editor.open.quick.outline"
            name="Open Quick Outline">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open the Quick Type Hierarchy"
            id="net.sf.sveditor.ui.editor.open.quick.hierarchy"
            name="Open Quick Type Hierarchy">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open Diagram for Selection"
            id="net.sf.sveditor.ui.editor.open.diag.selection"
            name="Open Diagram for Selection">
      </command>
      <category
            description="Commands related to SVEditor document generation"
            id="net.sf.sveditor.ui.docs"
            name="Documents">
      </category>
      <command
            categoryId="net.sf.sveditor.ui.docs"
            defaultHandler="net.sf.sveditor.ui.handlers.DocsGenerateHandler"
            id="net.sf.sveditor.ui.docs.generate"
            name="Generate Docs">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open Type"
            id="net.sf.sveditor.ui.editor.open.type"
            name="Open Type">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.sveditor.ui.editor.open.declaration"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="net.sf.sveditor.ui.indent"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="net.sf.sveditor.ui.editor.open.type.hierarchy"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4">
      </key>
      <key
            commandId="net.sf.sveditor.ui.editor.open.quick.objects"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="net.sf.sveditor.ui.indent"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+F">
      </key>
      <key
            commandId="net.sf.sveditor.ui.AddBlockComment"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+/">
      </key>
      <key
            commandId="net.sf.sveditor.ui.RemoveBlockComment"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+CTRL+\">
      </key>
      <key
            commandId="net.sf.sveditor.ui.ToggleComment"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+/">
      </key>
      <key
            commandId="net.sf.sveditor.ui.editor.open.quick.outline"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
      <key
            commandId="net.sf.sveditor.ui.editor.open.quick.hierarchy"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+T">
      </key>
      <key
            commandId="net.sf.sveditor.ui.editor.open.diag.selection"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+D">
      </key>
      <key
            commandId="net.sf.sveditor.ui.editor.open.type"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sf.sveditor.ui.svOpenActions"
            label="SV Open Actions"
            visible="false">
         <action
               definitionId="net.sf.sveditor.ui.editor.open.declaration"
               id="net.sf.sveditor.ui.svOpenEditorAction"
               label="Open Declaration"
               retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.editor.find.references"
               id="net.sf.sveditor.ui.svFindReferencesAction"
               label="Find References"
               retarget="true">
         </action>
         <action
         		definitionId="net.sf.sveditor.ui.indent"
         		id="net.sf.sveditor.ui.svIndentEditorAction"
         		label="Indent"
         		retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.override.tf.command"
               id="net.sf.sveditor.ui.override.tf"
               label="Override Tasks/Functions"
               menubarPath="net.sf.sveditor.ui.source.menu/editGroup"
               retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.editor.open.type.hierarchy"
               id="net.sf.sveditor.ui.svOpenTypeHierarchyAction"
               label="Open Type Hierarchy"
               retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.editor.open.objects"
               id="net.sf.sveditor.ui.svOpenObjectsAction"
               label="Open Objects"
               retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.editor.open.quick.objects"
               id="net.sf.sveditor.ui.svOpenQuickObjectsAction"
               label="Open Quick Objects"
               retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.editor.open.quick.outline"
               id="net.sf.sveditor.ui.svOpenQuickOutlineAction"
               label="Open Quick Outline"
               retarget="true">
         </action>
         <action
               id="net.sf.sveditor.ui.svAddBlockCommentAction"
               label="Add Block Comment"
               retarget="true">
         </action>
         <action
               id="net.sf.sveditor.ui.svRemoveBlockCommentAction"
               label="Remove Block Comment"
               retarget="true">
         </action>
         <action
               id="net.sf.sveditor.ui.svToggleCommentAction"
               label="Toggle Comment"
               retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.editor.open.quick.hierarchy"
               id="net.sf.sveditor.ui.svOpenQuickHierarchyAction"
               label="Open Quick Type Hierarchy"
               retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.editor.open.diag.selection"
               id="net.sf.sveditor.ui.svOpenDiagForSelectionAction"
               label="Open Diag for Selection"
               retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.editor.open.type"
               id="net.sf.sveditor.ui.svOpenTypeAction"
               label="Open Type"
               retarget="true">
         </action>
      </actionSet>
      <actionSet
            id="net.sf.sveditor.ui.source.menu.as"
            label="Source Menu"
            visible="true">
         <menu
               id="net.sf.sveditor.ui.source.menu"
               label="Source"
               path="edit">
            <separator
                  name="commentGroup">
            </separator>
            <separator
                  name="editGroup">
            </separator>
         </menu>
      </actionSet>
      <actionSet
            id="net.sf.sveditor.ui.svSearchActionSet"
            label="SystemVerilog Search"
            visible="false">
         <action
               class="net.sf.sveditor.ui.search.OpenSVSearchAction"
               id="net.sf.sveditor.ui.svOpenSearchPage"
               label="SystemVerilog..."
               menubarPath="org.eclipse.search.menu/dialogGroup"
               style="push">
         </action>
      </actionSet>
      <actionSet
            id="net.sf.sveditor.ui.svArgFileActions"
            label="SV ArgFile Actions"
            visible="false">
         <action
               definitionId="net.sf.sveditor.ui.argfile.editor.open.file"
               id="net.sf.sveditor.ui.svArgFileOpenFile"
               label="Open File"
               retarget="true">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.sf.sveditor.ui.svEditorContext"
            name="SVEditor Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
      <context
            id="net.sf.sveditor.ui.svArgFileEditorContext"
            name="SVArgFileEditor Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.sf.sveditor.ui.viewCategory"
            class="net.sf.sveditor.ui.views.hierarchy.SVHierarchyView"
            icon="icons/eview16/class_hi.gif"
            id="net.sf.sveditor.ui.hierarchyView"
            name="Hierarchy"
            restorable="true">
         <description>
            SystemVerilog Class Hierarchy Viewer
         </description>
      </view>
      <category
            id="net.sf.sveditor.ui.viewCategory"
            name="SVEditor">
      </category>
      <view
            allowMultiple="false"
            category="net.sf.sveditor.ui.viewCategory"
            class="net.sf.sveditor.ui.views.objects.SVObjectsView"
            icon="icons/eview16/class_hi.gif"
            id="net.sf.sveditor.ui.objectsView"
            name="Objects"
            restorable="true">
         <description>
            SystemVerilog Objects Viewer
         </description>
      </view>
      <view
            allowMultiple="false"
            category="net.sf.sveditor.ui.viewCategory"
            class="net.sf.sveditor.ui.views.diagram.SVDiagramView"
            icon="icons/eview16/class_hi.gif"
            id="net.sf.sveditor.ui.diagramView"
            name="Diagram"
            restorable="false">
         <description>
            SystemVerilog Objects Viewer
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="net.sf.sveditor.ui.PluginFileEditorInputFactory"
            id="net.sf.sveditor.ui.PluginFileEditorInputFactory">
      </factory>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.sveditor.ui.pref.SVEditorPrefsPage"
            id="net.sf.sveditor.ui.page1"
            name="SVEditor">
      </page>
      <page
            category="net.sf.sveditor.ui.page1"
            class="net.sf.sveditor.ui.pref.SVTemplatePrefsPage"
            id="net.sf.sveditor.ui.svEditorTemplates"
            name="Code Templates">
      </page>
      <page
            category="net.sf.sveditor.ui.page1"
            class="net.sf.sveditor.ui.pref.SVContentAssistPrefsPage"
            id="net.sf.sveditor.ui.contentAssist"
            name="Content Assist">
      </page>
      <page
            category="net.sf.sveditor.ui.page1"
            class="net.sf.sveditor.ui.pref.SVEditorTemplatePathsPrefsPage"
            id="net.sf.sveditor.ui.svTemplatePaths"
            name="SV Template Paths">
      </page>
      <page
            category="net.sf.sveditor.ui.page1"
            class="net.sf.sveditor.ui.pref.SVEditorTemplatePropertiesPrefsPage"
            id="net.sf.sveditor.ui.svTemplateProperties"
            name="SV Template Properties">
      </page>
      <page
            category="net.sf.sveditor.ui.page1"
            class="net.sf.sveditor.ui.pref.SVEditorIndexPrefsPage"
            id="net.sf.sveditor.ui.indexPreferences"
            name="Index Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.sveditor.ui.pref.SVEditorPrefsInitialize">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="net.sf.sveditor.ui.hierarchyView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.sveditor.ui.svNewWizards"
            name="SVEditor">
      </category>
      <wizard
            canFinishEarly="false"
            category="net.sf.sveditor.ui.svNewWizards"
            class="net.sf.sveditor.ui.wizards.NewSVClassWizard"
            icon="icons/edecl16/class_obj.gif"
            id="net.sf.sveditor.ui.newSVClassWizard"
            name="SystemVerilog Class"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="net.sf.sveditor.ui.svNewWizards"
            class="net.sf.sveditor.ui.wizards.templates.SVTemplateWizard"
            icon="icons/eview16/generate_template_class.gif"
            id="net.sf.sveditor.ui.svMethodologyClassWizard"
            name="SystemVerilog Template"
            project="false">
      </wizard>
      <wizard
            category="net.sf.sveditor.ui.svNewWizards"
            class="net.sf.sveditor.ui.wizards.templates.NewSVTDescriptorWizard"
            icon="icons/eview16/generate_template_class.gif"
            id="net.sf.sveditor.ui.newSVTWizard"
            name="SystemVerilog Template Descriptor">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="net.sf.sveditor.ui.svNewWizards"
            class="net.sf.sveditor.ui.wizards.NewSVPackageWizard"
            icon="icons/edecl16/package.gif"
            id="net.sf.sveditor.ui.newSVPackageWizard"
            name="SystemVerilog Package"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="net.sf.sveditor.ui.svNewWizards"
            class="net.sf.sveditor.ui.wizards.NewSVInterfaceWizard"
            icon="icons/edecl16/int_obj.gif"
            id="net.sf.sveditor.ui.newSVInterfaceWizard"
            name="SystemVerilog Interface"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="net.sf.sveditor.ui.svNewWizards"
            class="net.sf.sveditor.ui.wizards.NewSVModuleWizard"
            icon="icons/edecl16/module_obj.gif"
            id="net.sf.sveditor.ui.newSVModuleWizard"
            name="SystemVerilog Module"
            project="false">
      </wizard>      
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.sveditor.ui.SVPerspectiveFactory"
            fixed="false"
            icon="icons/eview16/svperspective.gif"
            id="net.sf.sveditor.ui.svPerspective"
            name="SystemVerilog">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <group
            id="net.sf.sveditor.ui.newSVWizards"
            separatorsVisible="true">
      </group>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.sf.sveditor.ui.toolbars.docs"
               label="Docs">
            <command
                  commandId="net.sf.sveditor.ui.docs.generate"
                  icon="icons/edecl16/generate_obj.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="net.sf.sveditor.ui.search.SVSearchPage"
            enabled="true"
            icon="icons/eview16/svperspective.gif"
            id="net.sf.sveditor.ui.searchPage"
            label="SystemVerilog Search"
            showScopeSection="true">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="net.sf.sveditor.ui.editor.SVTemplateContextType"
            id="net.sf.sveditor.ui.svTemplateContext"
            name="SystemVerilog Template Context">
      </contextType>
      <resolver
            class="net.sf.sveditor.ui.editor.SVContextTemplateVariableResolver"
            contextTypeId="net.sf.sveditor.ui.svTemplateContext"
            type="src">
      </resolver>
      <!--
      <template
            autoinsert="false"
            contextTypeId="net.sf.sveditor.ui.svTemplateContext"
            description="Iterate over an array with a temporary variable"
            icon="icons/template.gif"
            id="net.sf.sveditor.ui.svForLoop"
            name="for">
         <pattern>
            for (int ${index}; ${condition}; ${increment}) begin
	${cursor}
end
         </pattern>
      </template>
      <template
            autoinsert="false"
            contextTypeId="net.sf.sveditor.ui.svTemplateContext"
            icon="icons/template.gif"
            id="net.sf.sveditor.ui.template1"
            name="class">
         <pattern>
            class ${name} extends ${superclass};
	${cursor}
endclass
         </pattern>
      </template>
       -->
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="net.sf.sveditor.ui.search.SVSearchResultsPage"
            id="net.sf.sveditor.ui.searchResultsPage"
            searchResultClass="net.sf.sveditor.ui.search.SVSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <actionSet
               id="net.sf.sveditor.ui.svSearchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="net.sf.sveditor.ui.compareMergeViewer"
            contentTypeId="net.sf.sveditor.core.systemverilog">
      </contentTypeBinding>
      <viewer
            class="net.sf.sveditor.ui.compare.SVCompareViewerCreator"
            extensions="sv,svh,v,vl"
            id="net.sf.sveditor.ui.compareMergeViewer"
            label="SVEditor Merge Viewer">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
         <!--
      <decorator
            class="net.sf.sveditor.ui.explorer.ProblemLabelDecorator"
            id="net.sf.sveditor.ui.svErrorDecorator"
            label="SV Error Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
            </or>
         </enablement>
      </decorator>
        -->
      <decorator
            class="net.sf.sveditor.ui.svcp.SVDBFileDecorator"
            id="net.sf.sveditor.ui.svIndexFileDecorator"
            label="SV Index File Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
            </or>
         </enablement>
      </decorator>
      <decorator
            class="net.sf.sveditor.ui.svcp.SVDBFileErrorDecorator"
            id="net.sf.sveditor.ui.svIndexErrorDecorator"
            label="SV Index Error Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.compare.contentViewers">
      <viewer
            class="net.sf.sveditor.ui.compare.ViewerCreator"
            id="net.sf.sveditor.ui.compareViewer">
      </viewer>
      <contentTypeBinding
            contentTypeId="net.sf.sveditor.core.systemverilog"
            contentViewerId="net.sf.sveditor.ui.compareViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
      <transfer
            icon="icons/eview16/svperspective.gif"
            id="net.sf.sveditor.ui.svEditSettingsTransfer"
            name="SVEditor Edit Settings">
         <mapping
               scope="instance">
            <entry
                  node="net.sf.sveditor.ui">
               <key
                     match="prefix"
                     name="EditSettings.">
               </key>
            </entry>
         </mapping>
         <description>
            SVEditor editing settings, including colors, auto-indent, and content assist
         </description>
      </transfer>
      <transfer
            icon="icons/eview16/svperspective.gif"
            id="net.sf.sveditor.ui.svLinkedResourcesSettingsTransfer"
            name="SVEditor Linked Resource Settings">
         <mapping
               scope="instance">
            <entry
                  node="org.eclipse.core.resources">
               <key
                     match="prefix"
                     name="pathvariable.">
               </key>
            </entry>
         </mapping>
         <description>
            Global linked resource settings
         </description>
      </transfer>
      <transfer
            icon="icons/eview16/svperspective.gif"
            id="net.sf.sveditor.ui.svTemplateSettingsTransfer"
            name="SVEditor Template Settings">
         <mapping
               scope="instance">
            <entry
                  node="net.sf.sveditor.ui">
               <key
                     match="prefix"
                     name="TemplateSettings.">
               </key>
            </entry>
         </mapping>
         <description>
            SVEditor template settings, including template repository paths and template variables
         </description>
      </transfer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.sveditor.ui.argfile.editor.open.file"
            contextId="net.sf.sveditor.ui.svArgFileEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open File"
            id="net.sf.sveditor.ui.argfile.editor.open.file"
            name="Open File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="net.sf.sveditor.ui.presentation"
            label="SVEditor">
      </themeElementCategory>
      <fontDefinition
            categoryId="net.sf.sveditor.ui.presentation"
            defaultsTo="org.eclipse.jface.textfont"
            id="net.sf.sveditor.ui.editor.svTextFont"
            label="label">
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.sf.sveditor.ui.occurrences"
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            textStylePreferenceKey="occurrenceTextStyle"
            textStylePreferenceValue="NONE">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="net.sf.sveditor.ui.occurrences">
      </type>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            class="net.sf.sveditor.ui.argfile.editor.SVArgFileAnnotationModelFactory"
            contentTypeId="net.sf.sveditor.core.argfile">
      </factory>
      <factory
            class="net.sf.sveditor.ui.editor.SVEditorAnnotationModelFactory"
            contentTypeId="systemverilog">
      </factory>
   </extension>
</plugin>
