<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.sveditor.ui.editor.SVEditor"
            contributorClass="net.sf.sveditor.ui.editor.SVActionContributor"
            default="true"
            icon="icons/vlog_16_16.gif"
            id="net.sf.sveditor.ui.editor"
            name="SystemVerilog Editor">
         <contentTypeBinding
               contentTypeId="net.sf.sveditor.core.systemverilog">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.sf.sveditor.ui.editor.SVDocumentSetupParticipant"
            contentTypeId="net.sf.sveditor.core.systemverilog">
      </participant>
   </extension>
   <extension
         id="net.sf.sveditor.ui.SVNavigatorContent"
         name="SystemVerilog Navigator Content"
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="net.sf.sveditor.ui.explorer.SVFileNavigatorContentProvider"
            icon="icons/vlog_16_16.gif"
            id="net.sf.sveditor.ui.svFileNavigatorContent"
            labelProvider="net.sf.sveditor.ui.svcp.SVTreeLabelProvider"
            name="SystemVerilog File"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="svh">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="sv">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="v">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="vlog">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="vl">
                     </test>
                  </or>
               </and>
               <instanceof
                     value="net.sf.sveditor.core.db.SVDBItem">
               </instanceof>
            </or>
         </triggerPoints>
         <commonSorter
               class="net.sf.sveditor.ui.explorer.SVFileSorter">
         </commonSorter>
         <possibleChildren>
            <instanceof
                  value="net.sf.sveditor.core.db.SVDBItem">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
<!--
      <actionProvider
            class="net.sf.sveditor.ui.explorer.AddSystemVerilogNatureAction"
            id="net.sf.sveditor.ui.explorer.AddSystemVerilogNatureAction">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <not>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="net.sf.sveditor.core.SVNature">
                  </test>
               </not>
            </and>
         </enablement>
      </actionProvider>
 -->
      <actionProvider
            class="net.sf.sveditor.ui.explorer.OpenSVDBItem"
            id="net.sf.sveditor.ui.explorer.OpenSVDBItem">
         <enablement>
            <instanceof
                  value="net.sf.sveditor.core.db.SVDBItem">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="net.sf.sveditor.ui.explorer.RebuildSvIndexAction"
            id="net.sf.sveditor.ui.explorer.RebuildSvIndexAction">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <commonWizard
            menuGroupId="net.sf.sveditor.ui.newSVWizards"
            type="new"
            wizardId="net.sf.sveditor.ui.newSVClassWizard">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IContainer">
            </adapt></enablement>
      </commonWizard>
      <navigatorContent
            activeByDefault="true"
            contentProvider="net.sf.sveditor.ui.explorer.ProjectPathsContentProvider"
            icon="icons/edecl16/package.gif"
            id="net.sf.sveditor.ui.projectPathsContent"
            labelProvider="net.sf.sveditor.ui.explorer.ProjectPathsLabelProvider"
            name="Project Paths"
            priority="high"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <adapt
                     type="net.sf.sveditor.core.db.project.SVDBProjectData">
               </adapt>
               <instanceof
                     value="net.sf.sveditor.core.db.SVDBItem">
               </instanceof>
            </or>
         </triggerPoints>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="net.sf.sveditor.ui.svFileNavigatorContent">
         </override>
         <!--
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
          -->
      </navigatorContent>
      <!--
      <commonWizard
            menuGroupId="net.sf.sveditor.ui.newSVWizards"
            type="new"
            wizardId="net.sf.sveditor.ui.svMethodologyClassWizard">
         <enablement></enablement>
      </commonWizard>
       -->
   </extension>
   <extension
         id="net.sf.sveditor.ui.SVNavigatorContentBinding"
         name="SystemVerilog Navigator Content Binding"
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="net.sf.sveditor.ui.svFileNavigatorContent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="net.sf.sveditor.ui.projectPathsContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="net.sf.sveditor.ui.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.sf.sveditor.ui.prop_pages.SVProjectProps"
            id="net.sf.sveditor.ui.SVPropPage"
            name="SystemVerilog Project Properties">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
            <!--
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="net.sf.sveditor.core.SVNature">
               </test>
            </adapt>
         </enabledWhen>
             -->
      </page>
      <page
            class="net.sf.sveditor.ui.prop_pages.SVFilePropertyPage"
            id="net.sf.sveditor.ui.SVEditorInfo"
            name="SVEditor Info">
         <enabledWhen>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IFile">
               </adapt>
	            <test
                  args="contentTypeId"
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.filePropertyTester"
                  value="net.sf.sveditor.core.systemverilog">
    	        </test>
            </and>
         </enabledWhen>
      </page>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open Declaration"
            id="net.sf.sveditor.ui.editor.open.declaration"
            name="Open Declaration">
      </command>
      <command
            id="net.sf.sveditor.ui.override.tf.command"
            name="Override Tasks/Functions">
      </command>
      <command
            description="Indent Source"
            id="net.sf.sveditor.ui.indent"
            name="Indent">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="net.sf.sveditor.ui.editor.open.type.hierarchy"
            name="Open Type Hierarchy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.sveditor.ui.editor.open.declaration"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="net.sf.sveditor.ui.indent"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="net.sf.sveditor.ui.editor.open.type.hierarchy"
            contextId="net.sf.sveditor.ui.svEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sf.sveditor.ui.svOpenActions"
            label="SV Open Actions"
            visible="false">
         <action
               definitionId="net.sf.sveditor.ui.editor.open.declaration"
               id="net.sf.sveditor.ui.svOpenEditorAction"
               label="Open Declaration"
               retarget="true">
         </action>
         <action
         		definitionId="net.sf.sveditor.ui.indent"
         		id="net.sf.sveditor.ui.svIndentEditorAction"
         		label="Indent"
         		retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.override.tf.command"
               id="net.sf.sveditor.ui.override.tf"
               label="Override Tasks/Functions"
               retarget="true">
         </action>
         <action
               definitionId="net.sf.sveditor.ui.editor.open.type.hierarchy"
               id="net.sf.sveditor.ui.svOpenTypeHierarchyAction"
               label="Open Type Hierarchy"
               retarget="true">
         </action>
      </actionSet>
      <actionSet
            id="net.sf.sveditor.ui.source.menu.as"
            label="Source Menu"
            visible="false">
         <menu
               id="net.sf.sveditor.ui.source.menu"
               label="Source"
               path="edit">
            <separator
                  name="commentGroup">
            </separator>
            <separator
                  name="editGroup">
            </separator>
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.sf.sveditor.ui.svEditorContext"
            name="SVEditor Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.sf.sveditor.ui.viewCategory"
            class="net.sf.sveditor.ui.views.hierarchy.SVHierarchyView"
            icon="icons/eview16/class_hi.gif"
            id="net.sf.sveditor.ui.hierarchyView"
            name="Hierarchy"
            restorable="true">
         <description>
            SystemVerilog Class Hierarchy Viewer
         </description>
      </view>
      <category
            id="net.sf.sveditor.ui.viewCategory"
            name="SVEditor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="net.sf.sveditor.ui.PluginFileEditorInputFactory"
            id="net.sf.sveditor.ui.PluginFileEditorInputFactory">
      </factory>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.sveditor.ui.pref.SVEditorPrefsPage"
            id="net.sf.sveditor.ui.page1"
            name="SVEditor">
      </page>
      <page
            category="net.sf.sveditor.ui.page1"
            class="net.sf.sveditor.ui.pref.SVTemplatePrefsPage"
            id="net.sf.sveditor.ui.svEditorTemplates"
            name="Templates">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.sveditor.ui.pref.SVEditorPrefsInitialize">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="net.sf.sveditor.ui.hierarchyView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.sveditor.ui.svNewWizards"
            name="SVEditor">
      </category>
      <wizard
            canFinishEarly="false"
            category="net.sf.sveditor.ui.svNewWizards"
            class="net.sf.sveditor.ui.wizards.NewSVClassWizard"
            icon="icons/edecl16/class_obj.gif"
            id="net.sf.sveditor.ui.newSVClassWizard"
            name="SystemVerilog Class"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="net.sf.sveditor.ui.svNewWizards"
            class="net.sf.sveditor.ui.wizards.NewSVMethodologyClassWizard"
            id="net.sf.sveditor.ui.svMethodologyClassWizard"
            name="SystemVerilog Methodology Class"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.sveditor.ui.SVPerspectiveFactory"
            fixed="false"
            icon="icons/eview16/svperspective.gif"
            id="net.sf.sveditor.ui.svPerspective"
            name="SystemVerilog">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <group
            id="net.sf.sveditor.ui.newSVWizards"
            separatorsVisible="true">
      </group>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="net.sf.sveditor.ui.search.SVSearchPage"
            icon="icons/eview16/svperspective.gif"
            id="net.sf.sveditor.ui.searchPage"
            label="SystemVerilog Search">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="net.sf.sveditor.ui.editor.SVTemplateContextType"
            id="net.sf.sveditor.ui.svTemplateContext"
            name="SystemVerilog Template Context">
      </contextType>
      <resolver
            class="net.sf.sveditor.ui.editor.SVContextTemplateVariableResolver"
            contextTypeId="net.sf.sveditor.ui.svTemplateContext"
            type="src">
      </resolver>
      <!--
      <template
            autoinsert="false"
            contextTypeId="net.sf.sveditor.ui.svTemplateContext"
            description="Iterate over an array with a temporary variable"
            icon="icons/template.gif"
            id="net.sf.sveditor.ui.svForLoop"
            name="for">
         <pattern>
            for (int ${index}; ${condition}; ${increment}) begin
	${cursor}
end
         </pattern>
      </template>
      <template
            autoinsert="false"
            contextTypeId="net.sf.sveditor.ui.svTemplateContext"
            icon="icons/template.gif"
            id="net.sf.sveditor.ui.template1"
            name="class">
         <pattern>
            class ${name} extends ${superclass};
	${cursor}
endclass
         </pattern>
      </template>
       -->
   </extension>
   

</plugin>
