<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="SVLibraries" name="SystemVerilog Libraries" schema="schema/SVLibraries.exsd"/>
   <extension-point id="SVDBIndexFactories" name="SVDB Index Factory extension point" schema="schema/SVDBIndexFactories.exsd"/>
   <extension-point id="SVTemplates" name="SystemVerilog Templates" schema="schema/SVTemplates.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="v, vl, vlog, sv, svh, vh"
            id="systemverilog"
            name="SystemVerilog"
            priority="normal">
         <property
               default="true"
               name="net.sf.sveditor.core.svfile">
         </property>
      </content-type>
   </extension>
   <extension
         id="SVNature"
         name="SystemVerilog Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sf.sveditor.core.SVProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="net.sf.sveditor.core.SVLibraries">
      <SVLibrary
            default="true"
            id="net.sf.sveditor.sv_builtin"
            name="SystemVerilog Builtin Types"
            path="sv_builtin/sv_builtin.sv">
         <description>
            OVM 2.0.1 library from http://ovmworld.org
         </description>
      </SVLibrary>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="plugin">
         <run
               class="net.sf.sveditor.core.db.index.plugin_lib.PluginFilesystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="net.sf.sveditor.core.SVDBIndexFactories">
      <SVDBIndexFactory
            class="net.sf.sveditor.core.db.index.plugin_lib.SVDBPluginLibIndexFactory"
            id="net.sf.sveditor.pluginLibIndex">
      </SVDBIndexFactory>
      <SVDBIndexFactory
            class="net.sf.sveditor.core.db.index.SVDBSourceCollectionIndexFactory"
            id="net.sf.sveditor.sourceCollectionIndex">
      </SVDBIndexFactory>
      <SVDBIndexFactory
            class="net.sf.sveditor.core.db.index.SVDBLibPathIndexFactory"
            id="net.sf.sveditor.libIndex">
      </SVDBIndexFactory>
      <SVDBIndexFactory
            class="net.sf.sveditor.core.db.index.SVDBArgFileIndexFactory"
            id="net.sf.sveditor.argFileIndex">
      </SVDBIndexFactory>
      <SVDBIndexFactory
            class="net.sf.sveditor.core.db.index.SVDBShadowIndexFactory"
            id="net.sf.sveditor.shadowIndex">
      </SVDBIndexFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IProject"
            class="net.sf.sveditor.core.SVProjectDataAdapter">
         <adapter
               type="net.sf.sveditor.core.db.project.SVDBProjectData">
         </adapter>
      </factory>
   </extension>

</plugin>
