<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.sveditor.ui.editor.SVEditor"
            contributorClass="net.sf.sveditor.ui.editor.SVActionContributor"
            default="true"
            icon="icons/vlog_16_16.gif"
            id="net.sf.sveditor.ui.editor"
            name="SystemVerilog Editor">
         <contentTypeBinding
               contentTypeId="net.sf.sveditor.core.systemverilog">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="net.sf.sveditor.core.verilog">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.sf.sveditor.ui.editor.SVDocumentSetupParticipant"
            extensions="sv, svh, v, vl, vlog, vh">
      </participant>
   </extension>
   <extension
         id="net.sf.sveditor.ui.SVNavigatorContent"
         name="SystemVerilog Navigator Content"
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="net.sf.sveditor.ui.explorer.SVFileNavigatorContentProvider"
            icon="icons/vlog_16_16.gif"
            id="net.sf.sveditor.ui.svFileNavigatorContent"
            labelProvider="net.sf.sveditor.ui.svcp.SVTreeLabelProvider"
            name="SystemVerilog File"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="svh">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="sv">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="v">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="vlog">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="vl">
                     </test>
                  </or>
               </and>
               <instanceof
                     value="net.sf.sveditor.core.db.SVDBItem">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="net.sf.sveditor.core.db.SVDBItem">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="net.sf.sveditor.ui.explorer.SVFileSorter">
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="net.sf.sveditor.ui.explorer.AddSystemVerilogNatureAction"
            id="net.sf.sveditor.ui.explorer.AddSystemVerilogNatureAction">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <not>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="net.sf.sveditor.core.SVNature">
                  </test>
               </not>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="net.sf.sveditor.ui.explorer.OpenSVDBItem"
            id="net.sf.sveditor.ui.explorer.OpenSVDBItem">
         <enablement>
            <instanceof
                  value="net.sf.sveditor.core.db.SVDBItem">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         id="net.sf.sveditor.ui.SVNavigatorContentBinding"
         name="SystemVerilog Navigator Content Binding"
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="net.sf.sveditor.ui.svFileNavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="net.sf.sveditor.ui.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.sf.sveditor.ui.prop_pages.SVProjectProps"
            id="net.sf.sveditor.ui.SVPropPage"
            name="SystemVerilog Project Properties"
            objectClass="org.eclipse.core.resources.IProject">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="net.sf.sveditor.core.SVNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%ActionDefinition.openDeclaration.description"
            id="net.sf.sveditor.ui.editor.open.declaration"
            name="%ActionDefinition.openDeclaration.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.sveditor.ui.editor.open.declaration"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sf.sveditor.ui.svOpenActions"
            label="SV Open Actions"
            visible="false">
         <action
               definitionId="net.sf.sveditor.ui.editor.open.declaration"
               id="net.sf.sveditor.ui.svOpenEditorAction"
               label="Open Editor"
               retarget="true">
         </action>
      </actionSet>
   </extension>

</plugin>
