<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.sf.sveditor.ui.batch.JavaScriptLauncher"
            id="net.sf.sveditor.ui.batch.jsLauncher"
            name="SVEditor JavaScript"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sf.sveditor.ui.batch.JavaScriptLauncherTabGroup"
            id="net.sf.sveditor.ui.batch.jsLaunchConfigTabGroup"
            type="net.sf.sveditor.ui.batch.jsLauncher">
         <launchMode
               mode="run ">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="net.sf.sveditor.ui.batch.LaunchShortcut1"
            id="net.sf.sveditor.ui.batch.shortcut1"
            label="SVEditor JavaScript"
            modes="run">
      </shortcut>
   </extension>

</plugin>
