<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/user_guide-toc.xml"
            primary="true">
      </toc>
      <toc
            file="tutorial/sveditor_tutorial-toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
