<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="PrintPortList"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.sveditor.examples.indexer.PrintPortList">
         </run>
      </application>
   </extension>

</plugin>
