<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.sveditor.core.SVDBIndexFactories">
      <SVDBIndexFactory
            class="net.sf.sveditor.vhdl.core.db.index.VhdlArgFileIndexFactory"
            id="net.sf.sveditor.vhdl.argFileIndex">
      </SVDBIndexFactory>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="vhd, vhdl,, "
            id="vhdl"
            name="VHDL"
            priority="normal">
         <property
               default="true"
               name="net.sf.sveditor.core.svfile">
         </property>
      </content-type>
   </extension>
   
</plugin>
