<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="SVLibraries" name="SystemVerilog Libraries" schema="schema/SVLibraries.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="v, vl, vlog, sv, svh, vh"
            id="systemverilog"
            name="SystemVerilog"
            priority="normal">
         <property
               default="true"
               name="net.sf.sveditor.core.svfile">
         </property>
      </content-type>
   </extension>
   <extension
         id="SVNature"
         name="SystemVerilog Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sf.sveditor.core.SVProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="net.sf.sveditor.core.SVLibraries">
      <SVLibrary
            name="SystemVerilog Builtin Types"
            path="sv_builtin/sv_builtin.sv">
      </SVLibrary>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="plugin">
         <run
               class="net.sf.sveditor.core.PluginFilesystem">
         </run>
      </filesystem>
   </extension>

</plugin>
