<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.sveditor.core.SVLibraries">
      <SVLibrary
            default="false"
            id="org.ovmworld.ovm"
            name="OVM Library"
            path="ovm/src/ovm_pkg.sv">
      </SVLibrary>
      <SVLibrary
            default="false"
            id="org.vmmcentral.vmm"
            name="VMM Library"
            path="vmm/sv/vmm_lib.sv">
      </SVLibrary>
   </extension>

</plugin>
