<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="net.sf.sveditor.ui.svNewWizards"
            class="net.sf.sveditor.ui.wizards.templates.SVTemplateWizard"
            icon="icons/eview16/generate_template_class.gif"
            id="net.sf.sveditor.ui.svMethodologyClassWizard"
            name="SystemVerilog Template"
            project="false">
      </wizard>         
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.sf.sveditor.ui.page1"
            class="net.sf.sveditor.svt.ui.pref.SVEditorTemplatePathsPrefsPage"
            id="net.sf.sveditor.svt.ui.svTemplatePaths"
            name="SV Template Paths">
      </page>      
   </extension>

</plugin>
