<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product 
    	Id="{CB509245-1245-4867-8BD4-6B2C5A739254}" 
    	Codepage="1252" 
    	Language="1033" 
    	Manufacturer="SVE" 
    	Name="SVE SystemVerilog IDE" 
    	UpgradeCode="{3618724B-2523-44F9-A908-866AA6191754}" 
    	Version="1.0">
        <Package 
        	Comments="SVE SystemVerilog Development Environment Package" 
        	Compressed="yes" 
        	Description="SVE SystemVerilog Development Environment Package" 
        	InstallerVersion="200" 
        	Keywords="SystemVerilog, HDL, HVL, IDE" Languages="1033" 
        	Manufacturer="SVEditor" Platform="x86" />
        <Condition Message="An administrator must approve or install [ProductName].">Privileged</Condition>

		<?include ../sve_files.wxi?>
		   
		<DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="{3618724B-2523-44F9-A908-877AA6191754}">
                <Shortcut Id="ApplicationStartMenuShortcut"
                		  Name="SVE_$(var.version)"
                		  Description="SVE SystemVerilog IDE"
                		  Target="[INSTALLDIR]sveditor.exe"
                          WorkingDirectory="AppDataFolder"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\SVE_$(var.version)" 
                	Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
        
		<Feature Id="SVEAppMenu" Title="SVE Application Menu" Level="1">
            <ComponentRef Id="ApplicationShortcut" />   
        </Feature>
        
        <Media Id="1" Cabinet="WiX.cab" EmbedCab="yes" />
    </Product>
</Wix>
