<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.hdt.sveditor.core.tests.releaseTests">
      <releaseTestSuite
            class="org.eclipse.hdt.sveditor.ui.tests.UiReleaseTests">
      </releaseTestSuite>
   </extension>

</plugin>
